TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

PAM_BASE_URL=https://d26jkeflbrjzee.cloudfront.net
PAM_USERNAME=superadmin
PAM_PASSWORD=your_pam_password

PORT=3000
